* {
    margin: 0;
    padding: 0;
}


.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #1E1E1E; 
}


.title {
    font-size: 85px;
    color: #00A8E0;
    animation: flipTitle 2.3s;
}


@keyframes flipTitle {
    from {
        transform: rotateX(90deg);
    }
    to {
        transform: rotateX(0deg);
    }
}


.containerInput {
    align-items: center;
    padding: 0px 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    height: 70px;
    width: 300px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
}


.containerInput input {
    background-color: transparent;
    border: 0;
    font-size: 20px;
    outline: none;
    color: #FFFFFF; 
    margin-right: 8px;
}


.buttonSearch {
    width: 50px;
    height: 50px;
    background-color: transparent; 
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.
 
}


.buttonSearch:hover {
    transform: scale(1.2);
}


.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #F0F0F0; 
    background-color: #2C3E50; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
    width: 500px;
    height: 200px;
    border-radius: 10px;
    padding: 20px;
}


.main h2 {
   font-size: 25px;
   color: #00A8E0; 
}


.main span {
    font-size: 20px;
    padding: 10px;
    color: #FFFFFF; 
}


@media (max-width: 740px) {
    .title {
        font-size: 60px;
    }
}

@media (max-width: 521px) {
    .title {
        font-size: 50px;
    }
    .main {
        width: 80%;
        font-size: 18px; 
    }
}

@media (max-width: 300px) {
    .title {
        font-size: 30px;
    }
    .main {
        width: 90%;
    }
}